{{ if .Site.Params.enableCustomHTML }}
  {{ partial "custom/above-header" . }}
{{ end }}

{{ if .Site.Params.useLargeHeaderDesign }}
<div class="header header--large" style="display:flex;vertical-align:middle;text-align:center;align-items:center;">
  <div class="contain contain--more center">
    <a href="{{ .Site.BaseURL }}" class="header__logo">
      <div style="display:flex;vertical-align:middle;text-align:center;align-items:center;">
      <img src="/logo.png">
      &nbsp; <h2>Status</h2>
    </div>
    </a>
  </div>
</div>
{{ else }}
<div class="header contain" style="display:flex;vertical-align:middle;text-align:center;align-items:center;">
  <div class="contain">
    <a href="{{ .Site.BaseURL }}" class="header__logo header__logo--small">
      <div style="display:flex;vertical-align:middle;text-align:center;align-items:center;">
      <img src="/logo.png">
      &nbsp; <h2>Status</h2>
    </div>
    </a>
  </div>
</div>
{{ end }}

{{ if .Site.Params.enableCustomHTML }}
  {{ partial "custom/below-header" . }}
{{ end }}
