{{ if .Site.Params.enableCustomHTML }}
  {{ partial "custom/above-footer" . }}
{{ end }}

<div class="footer">
  <div class="contain">
    <p>
      <a href="#">{{ T "backToTop" }}</a>
      <br>
      {{ .Site.Params.description | markdownify }}
    </p>
    {{ if not .Site.Params.disableIncidentHistory }}
      <hr>
      <p class="hinted">
        {{ with $.Site.Home.OutputFormats.Get "rss" }}
          <a href="{{ .Permalink }}" class="no-underline"><i class="fa-solid fa-square-rss"></i> {{ T "rss" }} {{ T "toAllUpdates" }}</a>
        {{ end }}
        {{ if not .IsHome }}
        {{ with .OutputFormats.Get "rss" }}
          {{ T "or" }} <a href="{{ .Permalink }}" class="no-underline">{{ T "onlyThisFeed" }} ({{ $.Title }})</a>
        {{ end }}
        {{ end }}
        <small>

        </small>
      </p>
    {{ end }}
  </div>
</div>

{{ if .Site.Params.enableCustomHTML }}
  {{ partial "custom/below-footer" . }}
{{ end }}
